body {
  font-family: sans-serif;
  max-width: 720px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
h1, h2, h3 { font-weight: 100; }
a { color: #069; text-decoration: none; }
a:hover { text-decoration: underline; }
.header { color: #d5273a; border-bottom: 0.2em solid #d5273a; }
.header a { color: #d5273a; text-decoration: none; }
pre, code { border: 1px solid #d3d3d3; background: #f5f5f5; }
code { padding: 0.1em 0.3em; white-space: nowrap; }
pre { padding: 1em 1em; overflow-x: auto; }
pre > code { border: 0; padding: 0; background: 0; white-space: pre }
