[Unit]
Description=DHCP Client Daemon on all interfaces
Wants=network.target
Before=network.target

[Service]
Type=forking
PIDFile=/run/dhcpcd/pid
ExecStart=/usr/sbin/dhcpcd -q -b
ExecStop=/usr/sbin/dhcpcd -x
Restart=always

[Install]
WantedBy=multi-user.target
