<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{% canonical page.url %}">
<link rel="stylesheet" href="/css/main.css">
<title>{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>
<header>
<div>
<a href="/">{{ site.title }}</a>
</div>
<div>
<a href="{{ site.source }}">Source</a>
<a href="{{ site.issues }}">Issues</a>
</div>
</header>
<article>
{{ content -}}
</article>
</body>
</html>
