<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<link rel="stylesheet" href="{% link css/main.css %}">
<link rel="canonical" href="{{ page.redirect_to | absolute_url }}">
<meta http-equiv="refresh" content="0;url={{ page.redirect_to | relative_url }}">
</head>
<body>
<h1>Redirecting...</h1>
<a href="{{ page.redirect_to | relative_url }}">Click here if you are not redirected.<a>
<script>location='{{ page.redirect_to | relative_url }}'</script>
</body>
</html>
